<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - monilitodapper - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> - <a asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
    </div>
</footer>